.formulaire {
    background-color: rgb(198, 243, 206);
    
    padding-bottom: 30px;
    padding-top: 5px;
    
    border-radius: 20px;

    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 15px;

    color: rgb(2, 82, 16);
    background-color: rgb(152, 244, 170);

    border-color: rgb(3, 91, 21);
    border-radius: 5px;

    padding: 10px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    display: flex;
}